/* DASHBOARD CARDS*/

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-bottom:35px;
}

.card{
    background:white;
    border:none;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.15);
}

.card h2{
    font-size:40px;
    color:#876706;
    margin-bottom:10px;
}

.card p{
    color:#666;
    font-size:18px;
    font-weight:500;
}